@import 'shared';

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    .xl-12 {
        width: 100%;
    }
    
    .xl-7 {
        width: 58.33333%;
    }
    
    .xl-6 {
        width: 50%;
    }
    
    .xl-5 {
        width: 41.66666%;
    }
    
    .xl-3 {
        width: 25%;
    }
    
}