$purple: #9B35C5;
$salmon: #F37778;

$green: #77F3AD;
$orange: #F39D77;
$purpleLight: #C040FF;
$red : #F37778;

$themeColor-Light: #f0faff;
$themeColor-Dark:#341f3c;

$font-path: '../fonts' !default;
$font-title: 'Helvetica';
@font-face {
    font-family: 'DejaVu';
    src: url('#{$font-path}/DejaVuSansCondensed.ttf');
}
